$background-color: #e4e5e6;

$navbar-widh: 165px;
$header-height: 55px;

$gradient: linear-gradient(to bottom, #c445fa, #00a6d8);
$gradient-odeme-formu: linear-gradient(to bottom, #c445fa, #00a6d8);
$gradient-button1: linear-gradient(to bottom, #c147fa, #01a6d8);
$gradient-button2: linear-gradient(to bottom, #07a3d9, #b84bf8);
$header-background-color: #364b65;

$gradient-white: linear-gradient(#f4f5f8, #f1f3f6);
$title-color: #606266;
$title-padding: 10px;
